@model WebAppJsonCrud.Models.User

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header">
                Search for a user
            </div>

            <div class="row">
                <div class="col-md-10">
                    <form asp-action="Search">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-8">
                                <label for="SearchPhrase" class="control-label"></label>
                                <input name="SearchPhrase" class="form-control" required />
                            </div>

                            <div class="form-group col-2 mt-4">
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>